.lite-image-text-section{
    /* height: 90vh !important; */
    position: relative;

    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;

    color: #000!important;

    margin-top: 5rem!important;
}

.about-first-background-image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-lite-background-image{
    background-size: cover;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
    .lite-image-text-section-image{
        width: 500px;
    }
    .about-first-background-image{
        background:linear-gradient(rgba(28, 28, 29, 0), rgba(28, 28, 29, 0)), url("../../public/web/about/1600/main_image1.webp") center center / cover no-repeat;
    }
    .about-lite-background-image{
        background-image: url("../../public/web/about/1600/fon.webp"); 
    }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .about-first-background-image{
        background:linear-gradient(rgba(28, 28, 29, 0), rgba(28, 28, 29, 0)), url("../../public/web/about/750/main_image1.webp") center center / cover no-repeat;
    }

    .about-lite-background-image{
        background-image: url("../../public/web/about/750/fon.webp"); 
    }

    .about-text-block-small{
        display: none;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .about-first-background-image{
        background:linear-gradient(rgba(28, 28, 29, 0), rgba(28, 28, 29, 0)), url("../../public/web/about/750/main_image1.webp") center center / cover no-repeat;
    }

    .about-lite-background-image{
        background-image: url("../../public/web/about/750/fon.webp"); 
    }
    
    .lite-image-text-section-image{
        width: 600px;
    }
    .about-text-block-big{
        display: none;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .about-first-background-image{
        background:linear-gradient(rgba(28, 28, 29, 0), rgba(28, 28, 29, 0)), url("../../public/web/about/750/main_image1.webp") center center / cover no-repeat;
    }
    .about-lite-background-image{
        background-image: url("../../public/web/about/750/fon.webp"); 
    }
    .about-text-block-big{
        display: none;
    }
}

@media (max-width: 650) {
    .about-first-background-image{
        background:linear-gradient(rgba(28, 28, 29, 0), rgba(28, 28, 29, 0)), url("../../public/web/about/250/main_image1.webp") center center / cover no-repeat;
    }
    .about-lite-background-image{
        background-image: url("../../public/web/about/250/fon.webp"); 
    }
    .about-text-block-big{
        display: none;
    }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
    .about-first-background-image{
        background:linear-gradient(rgba(28, 28, 29, 0), rgba(28, 28, 29, 0)), url("../../public/web/about/250/main_image1.webp") center center / cover no-repeat;
    }
    .about-lite-background-image{
        background-image: url("../../public/web/about/250/fon.webp"); 
    }
    .about-text-block-big{
        display: none;
    }
}
