/* Large desktops and laptops */
@media (min-width: 1200px) {
    
    .index-first-background-image{
        background:linear-gradient(rgba(28, 28, 29, 0), rgba(28, 28, 29, 0)), url("../../public/web/index/1600/main_image1.webp") center center / cover no-repeat;
    }
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .index-first-background-image{
        background:linear-gradient(rgba(28, 28, 29, 0), rgba(28, 28, 29, 0)), url("../../public/web/index/750/main_image1.webp") center center / cover no-repeat;
    }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .index-first-background-image{
        background:linear-gradient(rgba(28, 28, 29, 0), rgba(28, 28, 29, 0)), url("../../public/web/index/750/main_image1.webp") center center / cover no-repeat;
    }
    
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .index-first-background-image{
        background:linear-gradient(rgba(28, 28, 29, 0), rgba(28, 28, 29, 0)), url("../../public/web/index/750/main_image1.webp") center center / cover no-repeat;
    }
    
}

@media (max-width: 650) {
    .index-first-background-image{
        background:linear-gradient(rgba(28, 28, 29, 0), rgba(28, 28, 29, 0)), url("../../public/web/index/250/main_image1.webp") center center / cover no-repeat;
    }
    
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
    .index-first-background-image{
        background:linear-gradient(rgba(28, 28, 29, 0), rgba(28, 28, 29, 0)), url("../../public/web/index/250/main_image1.webp") center center / cover no-repeat;
    }
   
}
