:root,
[data-bs-theme=light]{
    --bs-border-color-50: rgba(255, 255, 255, 0.5);
}


.border-bottom-white-50{
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color-50) !important;
}

.col-for-image{
    display: inline-block;
}

.breadcrumb-item.active {
    color: rgb(133 140 147 / 75%) !important;
}

.dark-placeholder-color::placeholder {
    color: #fff !important;
}

.gradient-block-blue{
    height: 200px;
    /* background: linear-gradient(to top left, #F6EFD2, #527497); */
    background: radial-gradient(circle farthest-corner at 367px 0px, #F6EFD2, #0c61e1);
}

.gradient-block-green{
    height: 200px;
    /* background: linear-gradient(to top left, #F6EFD2, #527497); */
    background: radial-gradient(circle farthest-corner at 367px 0px, #F6EFD2, #19a123);
}

.gradient-block-brown{
    height: 200px;
    /* background: linear-gradient(to top left, #F6EFD2, #527497); */
    background: radial-gradient(circle farthest-corner at 367px 0px, #F6EFD2, #a16419);
}

.die-index-page{
    
    /* width: 312px; */
}

.block-by-image{
    text-align:center;
    padding-top:15%;
    
}
.block-by-image>div>span{
    font-weight: bold;
}
.block-by-image>div>h1{
    font-weight: bold;
}
.mt-6 {
    margin-top: 5rem!important;
}



.container-small{
    max-width: 650px;
}